
<div class="container">
<% if flash[:notice] %>
    <div class="alert alert-success">
      <strong> <p class="notice"><%= notice %></p></strong>
    </div>
<% end %>


  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

          <div class="post-preview">



              <h2 class="post-title">

                <%=  @post.title %>
              </h2>
              <% if @post.image != nil %>
                <%= image_tag( @post.image.url(:medium)) %>
              <% else %>
                  <p>NEMA SLIKE!</p>
              <% end %>
                  <h3 class="post-subtitle">

                <% @post.categories.each do |c| %>
                <%= link_to c.name, category_path(c.id) %>
                    <% end %>
              </h3>

            <%=  @post.body %>

            <p class="post-meta">Posted by <a href="#"><%=link_to @post.user.name, user_path(@post.user.id) %> </a><%= @post.created_at %></p>
          </div>
          <hr>

      <% if  @post.user.id == @user.id %>
          <%= button_to "Update", edit_post_path(@post.id), class: "btn btn-primary" , :method => :get, form: {style: 'display:inline-block;'} %>
          <%= button_to "Delete", posts_destroy_path(@post.id), class: "btn btn-danger" , :method => :get, form: {style: 'display:inline-block;'}  %>
      <% end %>
      <hr>

      <% if user_signed_in? %>

          <%= simple_form_for(@comment, html: { class: 'form-horizontal' }) do |f| %>


                  <%= f.input :user_id, :as => :hidden , input_html: {value: @user.id} %>
                  <%= f.input :body, label: 'Komentirajte' %>

                 <%= f.input :post_id, :as => :hidden ,input_html: { value: @post.id} %>


              <%= f.button :submit, "Komentiraj", class: "btn btn-success" %>

          <% end %>

      <% end %>
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% @comments.each do |c| %>
          <div class="post-preview">


              <h3 class="post-subtitle">

                <%= c.body %>
              </h3>

            <p class="post-meta">Posted by <a href="#"><%= link_to c.user.name, user_path(c.user.id)  %> </a><%= c.created_at %></p>
          </div>

          <% if  c.user.id == @user.id %>
              <%= button_to "Delete", comments_destroy_path(c.id), class: "btn btn-danger" , :method => :get, form: {style: 'display:inline-block;'}  %>
          <% end %>
          </br>

          <hr>
      <%end%>


      <!-- Pager -->

    </div>
  </div>
</div>