<!DOCTYPE html>
<html>
<head>
  <title>Bloging</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog</title>




</head>
<body>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Bloging</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">


        <li class="<%= params[:controller]== 'home' && params[:action] == 'index' ? 'active' : '' %>"> <%= link_to 'Home', root_path %></li>

        <li class="<%= params[:controller]== 'contact_forms' && params[:action] == 'new' ? 'active' : '' %>"> <%= link_to 'Contact', new_contact_form_path %></li>




        <li class="<%= params[:controller]== 'posts' && params[:action] == 'new' ? 'active' : '' %>"><% if user_signed_in? %> <%= link_to "Novi post", posts_new_path, method: :get %>   <% end %></li>
        <li class="<%= params[:controller]== 'categories' && params[:action] == 'new' ? 'active' : '' %>"><% if user_signed_in? %> <%= link_to "Nova kategorija", categories_new_path %>   <% end %></li>
        <li class="<%= params[:controller]== 'users' && params[:action] == 'index' ? 'active' : '' %>">  <% if user_signed_in? %> <%= link_to "Moje objave", users_path %>   <% end %></li>

        <% if user_signed_in? == false %>
            <li class="<%= params[:controller]== 'users' && params[:action] == 'sign_in' ? 'active' : '' %>"> <%= link_to 'Sign in', new_user_session_path %> </li>
        <% end %>
        <li><% if user_signed_in? %> <%= link_to "Odjava", destroy_user_session_path, :method => :delete %>   <% end %></li>





      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>


<%= yield %>


















</body>
</html>
